*.o
doc/doxygen/html
doc/doxygen/latex
doc/doxygen/man
doc/doxygen/*.log
doc/doxygen/*.db
doc/doxygen/*.tmp
*bin
*~
*.orig
.*.swp
cachegrind.out*
.project
.cproject
.settings
.idea
/toolchain
/nbproject/
/cpu/lpc1769/include/bus_defs.h
/cpu/lpc1769/include/bus_funcs.h
/cpu/lpc1769/bus_space.c
/cpu/lpc1769/periph/cpuid.c
/cpu/lpc1769/sys/include/device.h
/cpu/lpc1769/sys/include/
/cpu/lpc1769/sys/